body
{
    font-family: 'montserrat',sans-serif;
    margin: 0;
    padding: 0;
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
}
.middle
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.middle h1
{
    font-size: 100px;
    font-weight: 900;
    animation: water 15s infinite;
    text-transform: uppercase;
    color: #2c3e5036;
    background-image: url(../img/water.png);
    -webkit-background-clip: text;
}

@keyframes water
{
    from
    {
        background-position: left 0 top 0;
    }
    to
    {
        background-position: left 1000px top 0;
    }
}
